
body{
    background-color: black;
}

main{
    background-color:darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 50px 5px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0;
    padding: 4px;
}

.border{
    border: solid 3px burlywood;
}

.end, .title{
    background-color: black;
    color: darkgray;
}

.end{
    width: 80%;
    margin: 50px auto;
}


p,li{
    font-size: 20px;
    margin: 10px auto;
}

ul{
    text-align: left;
    margin-left: 5%;
    width: 70vw;
}

li{
    margin-bottom: 20px;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:gray;
    margin: 2%;
    border-radius: 15px;
    font-weight: bold;
}

.image{
    width: 90%;
    padding: 20px 4vw;
}

.about-image{
    padding-bottom: 5px;
}

.elaboration{
    width: 70vw;
}

a{
    color: burlywood;
}

a:visited{
    color: white;
}

a:hover{
    font-weight: bold;
}

.image2{
    width: 300px;
    margin: 30px auto;
}
